@charset "UTF-8"

// Font Size
$font-larger: 24px
$font-large: 18px
$font-normal: 15px
$font-small: 12px
$font-smaller: 12px

$fontSizeRange: $font-larger, $font-large, $font-normal, $font-small, $font-smaller

$scrollbar-width: 5px
$scrollbar-height: 5px

$header-height: 50px
$header-shadow-blur-radius: 10px